body {
	background-color: #F5F8FA;
}

.pt-3{
	padding-top: 3%;
}

.container{
	width: 92%;
}

.comentarios{
	background-color: #E9F1F8;
	padding: 5% 3% 2%;
	border-radius: 10px 10px 0 0;
	overflow: auto;
}

.fondo-blue{
	height: 105px;
	width: 100%;
	margin: 0 auto;
	background-color: #2B7BB9;
	border-radius: 10px 10px 0 0;
	border:1px #E1E8ED solid;
	border-bottom: 0px solid;
}

.fondo-white{
	height: 113px;
	width: 100%;
	margin: 0 auto;
	background-color: white;
	border-radius: 0 0 10px 10px;
	border:1px #E1E8ED solid;
	border-top: 0px solid;
}

textarea {
	border-radius: 10px;
	margin-bottom: 20px;
	overflow: hidden;
}

#button {
	border-radius: 5px;
	height: 50px;
	width: 18%;
	margin-left: 2%;
	float: right;
	border-color: transparent;
	color: white;
}

#contenedor {
	clear: both;
}

.cuadro{
	background-color: white;
	margin: 0 auto;
	font-size: 18px;
	border:1px #E1E8ED solid;
	padding: 20px;
}

.background1{	
	background-color: #BADAEA;
}

.background {
	background-color: #1A90D9;
}

#contador{
	color: grey;
}

.foto{
	width: 29%;
	border-radius: 10px;
	border: 5px solid white;
	position: absolute;
	top: 100px;
	left: 30px;
}

.foto-perfil{
	width: 100%;
	border-radius: 10px;
}

.nombre{
	font-size: 1.4em;
	font-weight: bold;
	position: absolute;
	top: 150px;
	left: 130px;
	line-height: 1;
}

.cuenta {
	color: grey;
	font-size: 0.9em;
	position: absolute;
	top: 195px;
	left: 130px;
}

.textos {
	color: grey;
	padding-left: 30px;
	font-size: 0.8em;
}

.cuentas{
	margin-top: 0px;
	padding-left: 30px;
	color: #457BB9;
}

.line{
	line-height: 1.5;
}

.absolute{
	position: absolute;
	top: 210px;
}